@import "./styles/variables";
@import "./styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

body {
  background-color: $white;
  font-family: $primaryFont;
  min-height: 100vh;
}

