/* You can add global styles to this file, and also import other style files */
$white: #FEFAE0;
$red: #ef233c;
$darkGreen: #283618;
$green: #606c38;
$beige: #EECE9F;
$brown: #DDA15E;

body {
  background-color: $white;
}

