@import "../../styles/variables";

.toDoList {
  min-height: 87.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: $brown;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin: 2rem 1rem;
  }

  &__generator {
  display: flex;
  border-radius: 50px;
  margin-bottom: 2.5rem;
    input {
      width: 50vw;
      padding: 0.8rem 1rem;
      background-color: transparent;
      border: solid 1px $red;
      border-radius: 50px;
      margin-right: 1rem;

    }

    button {
      background-color: $red;
      font-family: $primaryFont;
      font-size: 1.2rem;
      color: $beige;
      padding: 0.8rem 1.2rem;
      border-radius: 50px;
      border: solid 1px transparent;
      &:hover {
        background-color: beige;
        border-color: $red;
        color: $red;
      }
    }
  }

  &__taskList {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;

    li {
      background-color: $red;
      padding: 0.5rem 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: 50px;
      margin-bottom: 1rem;
      span {
        color: $white;
        margin-right: 2rem;
        font-size: 1.2rem;
      }

      button {
        background-color: $white;
        border-radius: 50px;
        padding: 0.5rem 0.5rem;
        border: none;
        margin-left: 0.2rem;
      }
    }
  }
}

.is-done {
  background-color: $green;
}
