@import "../../styles/variables";

.toDoList {
  min-height: 87.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: $brown;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin: 2rem 1rem;
  }

  &__generator {
  display: flex;
  border-radius: 50px;
    input {
      width: 50vw;
      padding: 1rem 1rem;
      background-color: transparent;
      border: solid 1px $brown;
      border-radius: 50px;
    }
  }
}

.is-done {
  color: $green;
}
