@import "../../styles/variables";

header {
  background-color: $beige;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    &__logo {
      padding: 1rem 1rem;
      color: $red;
      font-weight: 800;
      font-size: 1.4rem;
    }

    &__itemsBox {
      display: flex;
      list-style: none;
      justify-content: space-between;
    }

    &__item {
      color: $red;
      padding: 1rem 1rem;
      font-size: 1.2rem;
    }

  }

}
